html {
  background-color: white;
  font-size: 10px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  min-width: 320px;
  overflow-x: hidden;
  overflow-y: scroll;
  text-rendering: optimizeLegibility;
  text-size-adjust: 100%;
}

article,
aside,
figure,
footer,
header,
hgroup,
section {
  display: block;
}

body,
button,
input,
optgroup,
select,
textarea {
  font-family: $font-body;
}

code,
pre {
  -moz-osx-font-smoothing: auto;
  -webkit-font-smoothing: auto;
  font-family: monospace;
}

body {
  color: $text-color;
  font-size: 1.6em;
  font-weight: 400;
  line-height: 1.5;
}


// Inline
// ------

a {
  color: $link-color;
  cursor: pointer;
  text-decoration: none;
  transition: $transition-base;
  strong {
    color: currentColor;
  }
  &:hover {
    color: $link-color-hover;
  }
}

img {
  vertical-align: middle;
}

code {
  background-color: whitesmoke;
  color: #da1039;
  font-size: 0.875em;
  font-weight: normal;
  padding: 0.25em 0.5em 0.25em;
}

hr {
  background-color: whitesmoke;
  border: none;
  display: block;
  height: 2px;
  margin: 2.4rem 0;
}

input[type="checkbox"],
input[type="radio"] {
  vertical-align: baseline;
}

small {
  font-size: 0.875em;
}

span {
  font-style: inherit;
  font-weight: inherit;
}

strong {
  color: $text-color;
  font-weight: 700;
}

em {
  font-style: italic;
}


// Block
// -----

p {
  margin-bottom: 1em;
  line-height: 1.7;
}

fieldset {
  border: none;
}

pre {
  -webkit-overflow-scrolling: touch;
  background-color: whitesmoke;
  color: #4a4a4a;
  font-size: 0.875em;
  overflow-x: auto;
  padding: 2rem 2.4rem;
  white-space: pre;
  word-wrap: normal;
  code {
    background-color: transparent;
    color: currentColor;
    font-size: 1em;
    padding: 0;
  }
}

table {
  td,
  th {
    vertical-align: top;
    &:not([align]) {
        text-align: inherit;
    }
  }
  th {
    color: #363636;
  }
}
