h1,
h2,
h3,
h4 {
  font-family: $font-title;
  font-weight: bold;
  line-height: 1.3;
}

h1,
.title--h1 {
  font-family: $font-title;
  font-size: 4rem;
  margin-bottom: 3rem;
  font-weight: bold;
  line-height: 1.3;

  @include smartphone() {
    font-size: 3rem;
  }
}

h2,
.title--h2 {
  font-family: $font-title;
  font-size: 3rem;
  margin-bottom: 2rem;
  font-weight: bold;
  line-height: 1.3;

  @include tablet() {
    font-size: 2.7rem;
  }
}

h3,
.title--h3 {
  font-family: $font-title;
  font-size: 2.4rem;
  margin-bottom: 2rem;
  font-weight: bold;
  line-height: 1.3;
  @include tablet() {
    font-size: 2.1rem;
  }
}

h4,
.title--h4 {
  font-family: $font-title;
  font-size: 2.1rem;
  margin-bottom: 1rem;
  font-weight: bold;
  line-height: 1.3;
}

h5,
.title--h5 {
  font-family: $font-title;
  font-size: 1.8rem;
  margin-bottom: 1rem;
  font-weight: bold;
  line-height: 1.3;
}

h6,
.title--h6 {
  font-family: $font-title;
  font-size: 1.6rem;
  margin-bottom: 1rem;
  font-weight: bold;
  line-height: 1.3;
}

.subtitle {
  color: lighten($text-color,20);
  text-align: center;
  margin-top: -3rem;
  margin-bottom: 4.3rem;
}

.title-caps {
  text-transform: uppercase;
  font-size: 1.6rem;
  color: $link-color;
  display: block;
  margin-bottom: 1rem;
}

.ft-body {
  font-family: $font-body;
}
