@import '../../sassStyles/abstracts/variables';
@import '../../sassStyles/abstracts/mixins';

.hero {
    padding-top: 12rem;
    padding-bottom: 12rem;
    position: relative;
    background-color: $bg-dark;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

    &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba($bg-dark,.75);
    }

    .container {
        position: relative;
    }

}

.hero__content {
    text-align: center;
    max-width: 70rem;
    margin: 0 auto;
    span {
        margin-bottom: 1.5rem;
        display: block;
        font-size: 1.8rem;
        color: $link-color;
    }
    h1 {
        margin-bottom: 1.5rem;
        text-transform: capitalize;
        color: #ffffff;
    }
    p {
        margin-bottom: 3rem;
        color: #ffffff;
    }
}
