@import '../../sassStyles/abstracts/variables';

.page-header {
    padding: 6rem 0;
    background-color: $bg-light;
    text-align: center;
    max-height: 60rem;
    margin: 0 auto;
    .container {
        max-width: 60rem;
    }
    h1 {
        font-size: 3.4rem;
        text-transform: capitalize;
        margin-bottom: 0;
    }
    p {
        color: $text-light;
        margin-bottom: 0;
        margin-top: 1rem;
    }
}