@import '../../sassStyles/abstracts/variables';

.call-to-action {
    background-color: $link-color;
    padding: 8rem 0;
    text-align: center;
    .container {
        max-width: 65rem;
    }
    h2 {
        color: #ffffff;
        text-transform: capitalize;
    }
    p {
        color: #ffffff;
    }
    .btn {
        margin-top: 1rem;
    }
}