@import '../../sassStyles/abstracts/variables';
@import '../../sassStyles/abstracts/mixins';

.footer {
    padding: 8rem 0;
    background-color: $bg-dark;
    color: white;
    margin-top: auto;
    text-align: center;

    h3 {
        color: #ffffff;
        font-size: 2rem;
    }

    a {
        color: lighten($text-light, 20);
        transition: $transition-base;
        &:hover {
            color: #ffffff;
        }
    }
    .row {
        margin-top: -3rem;
    }

    @include small-screen() {
        text-align: left;
    }
}

.footer__copyright {
    margin-bottom: 0;
    margin-top: 3rem;
    .logo {
        margin-bottom: 1.5rem;
        max-width: 15rem;
        display: inline-block;
    }
    .copyright-text {
        color: lighten($text-light, 20);
    }
    .social-icons {
        list-style: none;
        padding-left: 0;
        margin-bottom: 0;
        li {
            display: inline-block;
            a {
                font-size: 2rem;
                display: inline-block;
                color: #ffffff;
                &:hover {
                    color: $link-color;
                    transition: $transition-base;
                }
            }
            &:not(:last-child) {
                margin-right: 2rem;
            }
        }
    }
}

.footer__contact {
    margin-top: 3rem;
    color: lighten($text-light, 20);
    a {
        display: block;
    }
}

.footer__links {
    margin-top: 3rem;
    ul {
        list-style: none;
        padding-left: 0;
        margin-bottom: 0;
        li {
            display: block;
            a {
                display: block;
                padding: .3rem 0;
            }
            &:first-child a {
                padding-top: 0;
            }
        }
    }
}