@import '../../sassStyles/abstracts/variables';

.footer {
    padding: 6rem 0;
    background-color: $bg-dark;
    color: white;
    text-align: center;
    margin-top: auto;
    h3 {
        margin-bottom: 0;
    }
}

.footer__links {
    list-style: none;
    margin-bottom: 2rem;
    li {
        display: inline-block;
        a {
            font-size: 1.6rem;
            display: inline-block;
            color: #c4c4c4;
            text-transform: uppercase;
        }
        &:not(:last-child) {
            margin-right: 3rem;
        }
    }
}

.footer__social {
    list-style: none;
    margin-bottom: 2rem;
    li {
        display: inline-block;
        a {
            font-size: 1.5rem;
            display: inline-block;
            color: #c4c4c4;
            width: 3.5rem;
            height: 3.5rem;
            border-radius: 50%;
            line-height: 4rem;
            border: 0.1rem solid #c4c4c4;
        }
        &:not(:last-child) {
            margin-right: 1.5rem;
        }
    }
}

.footer__copyright {
    color: #a1a1a1;
    font-size: 1.5rem;
    margin-bottom: 0;
}